<div class="container">

  <h2>Search Flights ✈️</h2>

  <form (ngSubmit)="searchFlights()" #flightForm="ngForm">

    <input
      type="text"
      placeholder="From"
      [(ngModel)]="form.source"
      name="source"
      required
    />

    <input
      type="text"
      placeholder="To"
      [(ngModel)]="form.destination"
      name="destination"
      required
    />

    <input
      type="date"
      [(ngModel)]="form.date"
      name="date"
      required
    />

    <button type="submit">Search</button>
  </form>

  <hr />

  <div *ngIf="flights.length === 0 && searched">
    <p>No flights found</p>
  </div>

  <div *ngIf="flights.length > 0">
    <h3>Available Flights</h3>

    <div class="flight-card" *ngFor="let flight of flights">
      <p><strong>Airline:</strong> {{ flight.airline }}</p>
      <p><strong>From:</strong> {{ flight.source }}</p>
      <p><strong>To:</strong> {{ flight.destination }}</p>
      <p><strong>Date:</strong> {{ flight.date }}</p>
      <p><strong>Price:</strong> ₹{{ flight.price }}</p>
      <p><strong>Seats:</strong> {{ flight.availableSeats }}</p>
    </div>
  </div>

</div>

