<div class="booking-page">

  <!-- LEFT -->
  <div class="booking-left">


    <h1>
      Book Your <span>Flight</span>
    </h1>
<br>
    

    <!-- Contact -->
    <section class="card">
      <h3>Contact Information</h3>

      <div class="grid-2">
        <input type="text" [value]="name" readonly />
        <input type="email" [value]="email" readonly />
      </div>
    </section>

    <!-- Preferences -->
    <section class="card">
      <h3>Preferences</h3>

      <div class="grid-2">
        <select [(ngModel)]="passengerCount" (change)="updatePassengers()">
          <option *ngFor="let n of [1,2,3,4,5]" [value]="n">
            {{ n }} Passenger{{ n > 1 ? 's' : '' }}
          </option>
        </select>

        <select [(ngModel)]="meal">
          <option value="Veg">Vegetarian</option>
          <option value="Non-Veg">Non-Vegetarian</option>
        </select>
      </div>
    </section>

    <!-- Passenger Details -->
    <section class="card">
      <h3>Passenger Details</h3>

      <div
        *ngFor="let p of passengers; let i = index"
        class="passenger-card"
      >
        <div class="passenger-header">
          <span>{{ i + 1 }}</span>
          Passenger {{ i + 1 }}
        </div>

        <div class="grid-3">
          <input placeholder="Full Name" [(ngModel)]="p.name" />
          <input type="number" placeholder="Age" [(ngModel)]="p.age" />
          <select [(ngModel)]="p.gender">
            <option value="" disabled>Select Gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
      </div>
    </section>
  </div>

  <!-- RIGHT -->
  <div class="booking-right">

    <!-- Seat Map -->
    <section class="card seat-card">
      <h3>Select Seats</h3>
      <p class="hint">Choose your preferred seats from the cabin layout</p>

      <app-seat-map
  [flightId]="flightId"
  (seatsSelected)="seatNumbers = $event"
></app-seat-map>
    </section>

    <!-- Summary -->
    <section class="card summary">
      <h3>Booking Summary</h3>

      <div class="row">
        <span>Passengers</span>
        <strong>{{ passengerCount }}</strong>
      </div>

      <div class="row">
        <span>Meal</span>
        <strong>{{ meal }}</strong>
      </div>

      <div class="row">
  <span>Selected Seats</span>
  <strong>
    {{ seatNumbers.length ? seatNumbers.join(', ') : 'None' }}
  </strong>
</div>

      <div class="row status">
        <span>Status</span>
        <strong class="pending">Pending</strong>
      </div>
    </section>

    <button
  class="confirm-btn"
  (click)="bookTicket()"
  
>
  ✈ Confirm Booking
</button>

  </div>

</div>
