<header class="navbar" [class.home-navbar]="isHomePage">
  <div class="nav-container">
    <div class="logo">
      Flight Booking System
    </div>

    <nav class="nav-links">
       <!--ADMIN ONLY -->
      <a
        *ngIf="auth.isAdmin()"
        routerLink="/admin/inventory"
        routerLinkActive="active"
      >
        Add Inventory
      </a>
      <!-- NOT LOGGED IN -->
      <ng-container *ngIf="!isLoggedIn && !auth.isLoggedIn()">
        <a routerLink="/login" routerLinkActive="active">Login</a>
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </ng-container>

      <!-- LOGGED IN -->
      <ng-container *ngIf="auth.isLoggedIn() && !auth.isAdmin()">
        <a routerLink="/flights" routerLinkActive="active">Search Flights</a>
         <a routerLink="/dashboard">Dashboard</a>
        
      </ng-container>
      <ng-container *ngIf="auth.isLoggedIn()">

  <!-- USER PROFILE ICON -->
  

  <button class="logout-btn" (click)="openLogoutDialog()">
    Logout
  </button>
  <button
    class="profile-btn"
    routerLink="/profile"
    title="Profile"
  >
    👤
  </button>

</ng-container>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>


<div class="dialog-backdrop" *ngIf="showLogoutDialog">
  <div class="dialog-box">
    <h3>Confirm Logout</h3>
    <p>Are you sure you want to logout?</p>

    <div class="dialog-actions">
      <button class="yes-btn" (click)="confirmLogout()">Yes</button>
      <button class="no-btn" (click)="cancelLogout()">No</button>
    </div>
  </div>
</div>
