/* HERO SECTION */
.hero {
  position: relative;
  height: 100vh;
  background-image:url('/hero-flight3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  overflow: hidden;
}

/* DARK OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(15, 23, 42, 0.9) 0%,
    rgba(15, 23, 42, 0.6) 50%,
    rgba(15, 23, 42, 0.3) 100%
  );
}

/* CONTENT */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  padding: 0 24px;
  text-align: center;
}



/* HEADING */
.hero-content h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-content h1 span {
  display: block;
  background: linear-gradient(
    90deg,
    #6366f1,
    #8b5cf6
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SUBTITLE */
.subtitle {
  font-size: 18px;
  color: #e5e7eb;
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.6;
}
.hero-actions {
  display: flex;
  justify-content: center;
  gap: 25px;
}

/* BASE BUTTON */
.hero-btn {
  padding: 12px 28px;
  border-radius: 999px;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid white;
  color: #fff;
  transition: all 0.25s ease;
}

/* OUTLINE */
.hero-btn.outline {
  background: transparent;
  color: white;
}

/* HOVER EFFECT */
.hero-btn:hover {
  background: #6b5cff;   
  border-color: #6b5cff;
  color: white;        
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 38px;
  }

  .subtitle {
    font-size: 16px;
  }
}
