.home-container {
  width: 100%;
  height: 100vh;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  background-image: url('/her-flight.avif'); /* put image here */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

/* DARK OVERLAY */
 .overlay {
  position: absolute;
  inset: 0;
  background:  rgba(0, 0, 0, 0.3);
  
} 

/* CONTENT */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 1000px;
  padding-left: 80px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}


.hero-actions {
  margin-top: 32px;
  display: flex;
  gap: 28px;          
}

.hero-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 20px;
  line-height: 1.6;
  opacity: 0.9;
}

/* BUTTON BASE */
.btn {
  border: 1px solid #ffffff;
  background-color: #13a1e7;
  border-radius: 30px;
  cursor: pointer;
  padding: 12px 22px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 6px 16px rgba(36, 180, 251, 0.35);
}

/* HOVER */
.btn:hover {
  background-color: #13a1e7;;
  border-color: #13a1e7;;
  transform: translateY(-1px);
  box-shadow: 0 10px 22px rgba(0, 113, 226, 0.4);
}

/* SECONDARY (outline style) */
.btn.outline {
  background-color: transparent;
  color: #ffffff;
  box-shadow: none;
}

.btn.outline:hover {
  background-color: #ffffff;
  color: black;
}

